
.fold_section {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.background_text {
    position: absolute;
    top: 0;
    left: 0;
}

.background_text > p {
    font-size: 14rem;
    font-weight: 700;
    line-height: 15rem;

    color: white;
    text-shadow: 0rem 0rem 2.5rem rgb(110, 110, 110);

    opacity: 0.1;
    margin: 0;


    /* disabling the carat for the background text */

    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
     user-select: none;    
}

.text_container {
    width: 90%;
    display: flex;
    justify-content: space-evenly;
}


.text_container > h1 {
    font-size: 4rem;
}

.text_container > img {
    height: 30rem;
    filter: grayscale(1);
}