@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

.nav {
    position: absolute;
    background-color: black;
    border-radius: 2rem;
    top: 2rem;
    right: 3rem;

    font-family: "Overpass", sans-serif;
    z-index: 50;
}








.navbar {
    list-style-type: none;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.navbar > a {
    text-decoration: none;
    color: white;

    font-size: 2rem;
    font-weight: 700;
}




.hamburger_menu_open {
    position: absolute;
    z-index: 51;
    right: 4.7rem;
    top: 3.5rem;

    width: 2rem;
    height: 1.5rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    cursor: pointer;
}

.hamburger_menu_open > div {
    width: 100%;
    height: 0.3rem;
    background-color: white;
}





.hamburger_menu {
    position: absolute;
    right: 4.5rem;
    top: 3.5rem;
    z-index: 51;

    width: 2rem;
    height: 1.5rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    cursor: pointer;
}

.hamburger_menu > div {
    width: 100%;
    height: 0.3rem;

    background-color: white;
}





.close_list {
    display: none;
    transition: 0;
}